In [1]:
import pandas as pd
import requests
import os.path

In [2]:
if os.path.isfile('savedDF.pickle') or os.path.isfile('Data-sheet-STUDENTS.xlsx'):
    if os.path.isfile('savedDF.pickle'):
        df = pd.read_pickle("savedDF.pickle")
        print("DF saved loaded")
    else:
        df = pd.read_excel('Data-sheet-STUDENTS.xlsx', header=2, index_col=0)
        print("DF from the empty excel loaded")
else:
    print("Error: no file to load the df exist in the current folder")

DF saved loaded

In [3]:
bti_df = pd.read_csv('data-BTI-2006-2018.csv')
bti_df.head()

,country,country_code,year,region,rank_stat_ind,stat_ind,rank_dem_stat,dem_stat,stateness,monopoly,...,stab_econ_cat,priv_prop_cat,welfare_cat,perf_econ_cat,sustain_cat,level_diff_cat,steering_cat,efficiency_cat,consens_cat,int_coop_cat
0,Afghanistan,AFG,2006,Asia and Oceania,112,3.019048,109,2.966667,3.00,2,...,Fair,Fair,Poor,Flawed,Poor,Excellent,Flawed,Poor,Flawed,Sound
1,Afghanistan,AFG,2008,Asia and Oceania,120,3.136905,108,3.416667,3.25,2,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Sound
2,Afghanistan,AFG,2010,Asia and Oceania,124,2.810714,123,2.800000,2.75,1,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair
3,Afghanistan,AFG,2012,Asia and Oceania,124,2.821429,124,2.750000,3.25,2,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair
4,Afghanistan,AFG,2014,Asia and Oceania,122,2.965476,120,2.966667,3.50,3,...,Fair,Flawed,Poor,Fair,Poor,Excellent,Flawed,Poor,Flawed,Fair

In [85]:
bti_2018 = bti_df[bti_df['year'] == 2018]
bti_2018.head()

,country,country_code,year,region,rank_stat_ind,stat_ind,rank_dem_stat,dem_stat,stateness,monopoly,...,stab_econ_cat,priv_prop_cat,welfare_cat,perf_econ_cat,sustain_cat,level_diff_cat,steering_cat,efficiency_cat,consens_cat,int_coop_cat
6,Afghanistan,AFG,2018,Asia and Oceania,121,2.954762,114,3.016667,3.75,2,...,Flawed,Flawed,Flawed,Flawed,Flawed,Excellent,Flawed,Flawed,Flawed,Fair
13,Albania,ALB,2018,East-Central and Southeast Europe,30,6.828571,34,7.050000,9.00,10,...,Sound,Sound,Sound,Fair,Fair,Flawed,Sound,Fair,Sound,Sound
20,Algeria,DZA,2018,Middle East and North Africa,83,4.982143,79,4.750000,7.50,8,...,Sound,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Fair,Fair
27,Angola,AGO,2018,South and East Africa,105,3.939286,87,4.200000,7.50,8,...,Fair,Flawed,Flawed,Flawed,Flawed,Fair,Flawed,Flawed,Flawed,Fair
34,Argentina,ARG,2018,Latin America and the Caribbean,23,7.267857,19,8.000000,9.00,8,...,Sound,Sound,Sound,Fair,Fair,Flawed,Sound,Fair,Sound,Sound

We use `.values[0]` because the result is a series but we want directly the value.

In [43]:
bti_2018[bti_2018['country_code'] == "AFG"]['stat_ind'].values[0]

2.954762

In [44]:
bti_2018 = bti_df[bti_df['year'] == 2018]
for index, isocode in df.isocode.iteritems():
    try:
        ind = bti_2018[bti_2018['country_code'] == isocode]['stat_ind'].values[0]
        rank = bti_2018[bti_2018['country_code'] == isocode]['rank_dem_stat'].values[0]
        df.at[index, 'Bertelsmann Transformation index (BTI)'] = ind
        df.at[index, 'Bertelsmann Transformation index (BTI) - Ranking'] = rank
    except:
        print('[critical]: no data for', isocode)
        continue

[critical]: no data for BRN
[critical]: no data for TLS
[critical]: no data for FRA
[critical]: no data for DEU
[critical]: no data for IOT
[critical]: no data for ISR
[critical]: no data for MDV
[critical]: no data for ROU
[critical]: no data for GBR
[critical]: no data for USA

In [8]:
cpi_df = pd.read_excel('data-CPI-2018.xlsx', header=2)
cpi_df.head()

,Country,ISO3,Region,CPI Score 2018,Rank,Standard error,Number of sources,Upper CI,Lower CI,African Development Bank CPIA,...,Economist Intelligence Unit Country Ratings,Freedom House Nations in Transit Ratings,Global Insight Country Risk Ratings,IMD World Competitiveness Yearbook,PERC Asia Risk Guide,PRS International Country Risk Guide,World Bank CPIA,World Economic Forum EOS,World Justice Project Rule of Law Index,Varieties of Democracy Project
0,Denmark,DNK,WE/EU,88,1,2.63,8,92,84,NaN,...,90.0,NaN,83,97.0,NaN,92.0,NaN,79.0,88.0,78.0
1,New Zealand,NZL,AP,87,2,2.44,8,91,83,NaN,...,90.0,NaN,83,92.0,NaN,93.0,NaN,83.0,82.0,77.0
2,Finland,FIN,WE/EU,85,3,2.74,8,89,81,NaN,...,72.0,NaN,83,93.0,NaN,93.0,NaN,90.0,86.0,76.0
3,Singapore,SGP,AP,85,3,1.98,9,88,82,NaN,...,90.0,NaN,83,90.0,89.0,85.0,NaN,90.0,85.0,78.0
4,Sweden,SWE,WE/EU,85,3,2.02,8,88,82,NaN,...,90.0,NaN,83,81.0,NaN,93.0,NaN,77.0,86.0,78.0

In [45]:
for index, isocode in df.isocode.iteritems():
    try:
        ind = cpi_df[cpi_df['ISO3'] == isocode]['CPI Score 2018'].values[0]
        rank = cpi_df[cpi_df['ISO3'] == isocode]['Rank '].values[0]
        df.at[index, 'TI Corruption Perception Index'] = ind
        df.at[index, 'TI Corruption Perception Index - Ranking'] = rank
    except:
        print('[critical]: no data for', isocode)
        continue

[critical]: no data for IOT

In [9]:
heritage_df = pd.read_excel('data-heritage-2019.xls')
heritage_df.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,69.6,2.505,2.9,1957.58,8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,36,3.900,2.5,12506.6,13.9,2.0,1119.1,71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,632.9,2.000,3.1,15237.2,10,5.6,1203.0,25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,190.3,0.700,2.9,6752.58,8.2,31.7,-2254.5,65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,920.2,2.900,0.7,20875.8,8.7,25.7,11857.0,52.6

In [48]:
for index, name in df['Country (according to CN Gov):'].iteritems():
    clean_name = name.split(' (')[0]
    if clean_name == "Thailiand":
        clean_name = "Thailand"        
    elif clean_name == "The United Arab Emirates":
        clean_name = "United Arab Emirates"
    elif clean_name == "Brunei":
        clean_name = "Brunei Darussalam"
    elif clean_name == "Myanmar":
        clean_name = "Burma"
    elif clean_name == "East Timor":
        clean_name = "Timor-Leste"
    elif clean_name == "Kyrgyzstan":
        clean_name = "Kyrgyz Republic"
    elif clean_name == "United States of America":
        clean_name = "United States"
        
    try:
        ind = heritage_df[heritage_df['Country Name'] == clean_name]['2019 Score'].values[0]
        rank = heritage_df[heritage_df['Country Name'] == clean_name]['World Rank'].values[0]
        df.at[index, 'HF Index of Economic Freedom (Scale: 1-100)'] = ind
        df.at[index, 'Heritage Foundation Index of Economic Freedom (Global Ranking)'] = rank
    except:
        print('[critical]: no data for', clean_name)
        continue

Getting the isocode 2 with the API

In [62]:
iso_codes = {}

In [63]:
for index, name in df["Country (according to CN Gov):"].items():    
    if name in iso_codes:
        continue
        
    clean_name = name.split(' (')[0]
    if name == "Thailiand":
        clean_name = "Thailand"
        
    if name == "The United Arab Emirates":
        clean_name = "United Arab Emirates"
        
    url = 'http://www.restcountries.eu/rest/v2/name/' + clean_name
    r = requests.get(url)
    if r.status_code == 200:
        data = r.json()
        country_code = data[0]['alpha2Code']
        iso_codes[name] = country_code
    else:
        print('[ERROR]['+ name +'] we cannot get the data, reason is ', r.status_code, r.text)

In [64]:
df["isocode2"] = df["Country (according to CN Gov):"].apply(lambda x: iso_codes[x])

Second method with CSV (not done)

In [ ]:
iso_codes2 = pd.read_csv('country-iso.csv')

Then extracting the data

In [86]:
ratings = pd.read_csv('data-ratings-2015.csv', delimiter=';')
ratings.head()

,Country2Code,Year,SP_NumericRating,Moodys_NumericRating,Fitch_NumericRating,Diff_UP_SM,Diff_DW_SM,Diff_UP_MF,Diff_DW_MF,Diff_UP_SF,...,NGDP_RPCH,ExtDebtPercGNI,GGXWDG_NGDP,GGXWDN_NGDP,GGSB_NPGDP,DefaultLastYear,DefaultLast2Years,DefaultLast5Years,DefaultLast10Years,PCPIPCH
0,DO,2001,9.0,10.0,NaN,NaN,1.0,NaN,NaN,NaN,...,1.791,22.06,15.581,15.581,-1.456,1,1,1,1,8.884
1,DO,2002,9.0,10.0,NaN,NaN,1.0,NaN,NaN,NaN,...,5.776,26.10,16.536,16.536,-1.901,1,1,1,1,5.223
2,DO,2003,4.0,7.0,7.0,NaN,3.0,0.0,0.0,NaN,...,-0.252,36.60,34.108,34.108,-4.657,1,1,1,1,27.450
3,DO,2004,2.0,6.0,5.0,NaN,4.0,1.0,NaN,NaN,...,1.304,38.66,22.500,22.500,-2.696,1,1,1,1,51.461
4,DO,2005,7.0,6.0,6.0,1.0,NaN,0.0,0.0,1.0,...,9.222,24.15,21.290,21.290,-0.440,1,1,1,1,4.190

In [87]:
ratings_2015 = ratings[ratings['Year'] == 2015]
ratings_2015.head()

,Country2Code,Year,SP_NumericRating,Moodys_NumericRating,Fitch_NumericRating,Diff_UP_SM,Diff_DW_SM,Diff_UP_MF,Diff_DW_MF,Diff_UP_SF,...,NGDP_RPCH,ExtDebtPercGNI,GGXWDG_NGDP,GGXWDN_NGDP,GGSB_NPGDP,DefaultLastYear,DefaultLast2Years,DefaultLast5Years,DefaultLast10Years,PCPIPCH
14,DO,2015,9.0,8.0,8.0,1.0,NaN,0.0,0.0,1.0,...,7.000,0.0,34.289,34.289,-2.707,1,1,1,1,0.837
31,MA,2015,12.0,11.0,12.0,1.0,NaN,NaN,1.0,0.0,...,4.466,0.0,63.165,63.667,-4.943,0,0,1,1,1.600
32,AO,2015,8.0,10.0,8.0,NaN,2.0,2.0,NaN,0.0,...,2.998,0.0,0.000,62.325,0.000,1,1,1,1,10.275
38,AL,2015,7.0,8.0,NaN,NaN,1.0,NaN,NaN,NaN,...,2.639,0.0,71.886,71.886,0.000,0,1,1,1,1.896
47,AE,2015,19.0,19.0,19.0,0.0,0.0,0.0,0.0,0.0,...,3.930,0.0,-258.810,19.419,0.000,0,0,0,0,4.068

Same we add `.values[0]` to have the value present in the series

In [70]:
for index, isocode in df.isocode2.iteritems():
    try:
        moody = ratings_2015[ratings_2015['Country2Code'] == isocode]['Moodys_NumericRating'].values[0]
        sp = ratings_2015[ratings_2015['Country2Code'] == isocode]['SP_NumericRating'].values[0]
        fitch = ratings_2015[ratings_2015['Country2Code'] == isocode]['Fitch_NumericRating'].values[0]
        df.at[index, "Moody's Socvereign Ratings List"] = moody
        df.at[index, 'S&P Sovereign Ratings List'] = sp
        df.at[index, 'Fitch Sovereign Ratings List'] = fitch
    except:
        print('[critical]: no data for', isocode)
        continue

[critical]: no data for AF
[critical]: no data for BD
[critical]: no data for BT
[critical]: no data for BN
[critical]: no data for KH
[critical]: no data for TL
[critical]: no data for IO
[critical]: no data for IR
[critical]: no data for IQ
[critical]: no data for KG
[critical]: no data for LA
[critical]: no data for LV
[critical]: no data for LT
[critical]: no data for MK
[critical]: no data for MV
[critical]: no data for MD
[critical]: no data for ME
[critical]: no data for MM
[critical]: no data for NP
[critical]: no data for OM
[critical]: no data for RO
[critical]: no data for RU
[critical]: no data for SG
[critical]: no data for SK
[critical]: no data for SY
[critical]: no data for TJ
[critical]: no data for TM
[critical]: no data for UZ
[critical]: no data for YE

In [84]:
df.to_excel('Data-sheet-STUDENTS-filled.xlsx')

In [82]:
df.to_pickle("savedDF.pickle")